.navigation li {
    /* no dots before list items */
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.navigation li:hover {
    /* color: #FFF; */
    /* fade the background color */
    /* background-color: #252525; */
    text-decoration: underline;
}

.navigation a {
    color: white;
    text-decoration: none;
}