.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5.2rem;
    border-bottom: 1px solid #b8aea8;
}

.navigation ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navigation li {
    list-style: none;
    display: inline;
    margin: 0.8rem;
}

.navigation li:hover {
    color: #b8aea8;
    text-decoration: underline;
}

.navigation a {
    color: #b8aea8;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navigation li {
        display: block;
        margin: 10px 0;
    }

    .navigation ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}
