/* Default styles for navigation */
.navigation {
    text-align: center;
}

.navigation ul {
    padding: 0;
    /* Remove default padding on ul element */
}

.navigation li {
    list-style: none;
    display: inline;
    margin-left: 15px;
    /* Adjust margin for smaller screens */
}

.navigation li:hover {
    color: #b8aea8;
    text-decoration: underline;
}

.navigation a {
    color: #b8aea8;
    text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navigation li {
        display: block;
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }
}
